*.private.php
*.map
*.json
.idea/
.next/

/nbproject

Thumbs.db
~*
*~
test/*
Test*.php
test*.php
test*.phtml
test*.html
test*.htm
node_modules/
npm-debug.log
/static/dist/maps/
/static/dist/maps
static/src/js/product-new-rx_BACKUP_5376.js

.idea/
/.idea
/pages-test